Repository hungngodev/NEFAC-CHATBOT, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, docs, workflow, aws, terraform

.github/labeler.yml:

backend:
  - any: ["backend/**"]
frontend:
  - any: ["frontend/**"]
docs:
  - any: ["**/*.md"]
workflow:
  - any: [".github/workflows/**"]
aws:
  - any: ["aws/**"]
terraform:
  - any: ["terraform/**"]

fix downlaod
  backend/src/schemas/metadata.py
  backend/src/service/crawler/downloaders/document_downloader.py
  backend/src/service/crawler/downloaders/validate_downloads.py
  backend/src/service/crawler/extractors/wordpress_extractor.py
  backend/src/service/crawler/run.py
Labels: backend

fix craawler
  backend/poetry.lock
  backend/pyproject.toml
  backend/src/config/models.py
  backend/src/service/crawler/downloaders/common.py
  backend/src/service/crawler/downloaders/document_downloader.py
  backend/src/service/crawler/downloaders/rigid_validator.py
  backend/src/service/crawler/run.py
  backend/src/service/ingestion_service/index/graph_rag.py
  backend/src/service/ingestion_service/interactive_pipeline.py
  backend/src/service/ingestion_service/loader/unstructured_loader.py
  backend/src/service/ingestion_service/processing.py
  backend/src/service/ingestion_service/settings.py
Labels: backend

fix crawler and ingestion
  .gitignore
  backend/docker-compose.databases.yml
  backend/langgraph.json
  backend/poetry.lock
  backend/pyproject.toml
  backend/src/config/models.py
  backend/src/config/settings.py
  backend/src/schemas/metadata.py
  backend/src/service/crawler/core/config.py
  backend/src/service/crawler/downloaders/document_downloader.py
  backend/src/service/crawler/downloaders/rigid_validator.py
  backend/src/service/crawler/extractors/youtube_extractor.py
  backend/src/service/ingestion_service/index/contextual_retrieval.py
  backend/src/service/ingestion_service/index/database_cleaner.py
  backend/src/service/ingestion_service/index/graph_rag.py
  backend/src/service/ingestion_service/loader/base_loader.py
  backend/src/service/ingestion_service/loader/semantic_double_pass_splitter.py
  backend/src/service/ingestion_service/loader/unstructured_loader.py
  backend/src/service/ingestion_service/processing.py
  backend/src/service/ingestion_service/progress_tracker.py
  backend/src/service/ingestion_service/settings.py
Labels: backend

adding ingestion
  backend/debug_retrieval_metadata.py
  backend/docker-compose.databases.backup.yml
  backend/poetry.lock
  backend/pyproject.toml
  backend/src/core/agents/retrieval/keyword_retrieval.py
  backend/src/core/agents/retrieval/post_processing.py
  backend/src/core/agents/retrieval/subgraph.py
  backend/src/service/ingestion_service/index/contextual_retrieval.py
  backend/src/service/ingestion_service/index/graph_rag.py
  backend/src/service/ingestion_service/loader/semantic_double_pass_splitter.py
  backend/src/service/ingestion_service/loader/unstructured_loader.py
  backend/src/service/ingestion_service/settings.py
Labels: backend

refactor: Complete LlamaIndex migration with consolidated architecture
  backend/pyproject.toml
  backend/src/service/ingestion_service/.env.example
  backend/src/service/ingestion_service/index/contextual_retrieval.py
  backend/src/service/ingestion_service/index/database_cleaner.py
  backend/src/service/ingestion_service/index/graph_rag.py
  backend/src/service/ingestion_service/llamaindex/__init__.py
  backend/src/service/ingestion_service/llamaindex/database_cleaner.py
  backend/src/service/ingestion_service/llamaindex/document_loader.py
  backend/src/service/ingestion_service/llamaindex/hybrid_retriever.py
  backend/src/service/ingestion_service/llamaindex/indexer.py
  backend/src/service/ingestion_service/llamaindex/ingestion_workflow.py
  backend/src/service/ingestion_service/llamaindex/node_parser.py
  backend/src/service/ingestion_service/llamaindex/property_graph_ingestor.py
  backend/src/service/ingestion_service/loader/base_loader.py
  backend/src/service/ingestion_service/loader/semantic_double_pass_splitter.py
  backend/src/service/ingestion_service/loader/spreadsheet_utils.py
  backend/src/service/ingestion_service/loader/unstructured_loader.py
  backend/src/service/ingestion_service/processing.py
  backend/src/service/ingestion_service/settings.py
  cloud-functions/aws/lambda_functions/document_parser.py
  cloud-functions/aws/lambda_functions/document_receiver.py
  cloud-functions/aws/lambda_functions/embedder.py
  cloud-functions/aws/lambda_functions/requirements.txt
  cloud-functions/aws/lambda_functions/semantic_chunker.py
  cloud-functions/aws/lambda_functions/vector_indexer.py
Labels: backend

fix(ingestion): ensure index_nodes_to_neo4j returns integer count
  backend/src/service/ingestion_service/llamaindex/indexer.py
Labels: backend

migration lambda
  .env.template
  backend/src/core/agents/retrieval/graph_retrieval.py
  backend/src/service/ingestion_service/.env.example
  backend/src/service/ingestion_service/llamaindex/__init__.py
  backend/src/service/ingestion_service/llamaindex/database_cleaner.py
  backend/src/service/ingestion_service/llamaindex/diagnostics.py
  backend/src/service/ingestion_service/llamaindex/document_loader.py
  backend/src/service/ingestion_service/llamaindex/entity_deduplication.py
  backend/src/service/ingestion_service/llamaindex/hybrid_retriever.py
  backend/src/service/ingestion_service/llamaindex/indexer.py
  backend/src/service/ingestion_service/llamaindex/ingestion_workflow.py
  backend/src/service/ingestion_service/llamaindex/node_parser.py
  backend/src/service/ingestion_service/llamaindex/property_graph_ingestor.py
  backend/src/service/ingestion_service/loader/unstructured_loader.py
  backend/src/service/ingestion_service/processing.py
  backend/src/service/ingestion_service/progress_tracker.py
  backend/src/service/ingestion_service/settings.py
Labels: backend

fixing imports
  backend/src/service/ingestion_service/llamaindex/document_loader.py
  backend/src/service/ingestion_service/llamaindex/entity_deduplication.py
  backend/src/service/ingestion_service/llamaindex/hybrid_retriever.py
  backend/src/service/ingestion_service/llamaindex/indexer.py
  backend/src/service/ingestion_service/llamaindex/ingestion_workflow.py
  backend/src/service/ingestion_service/llamaindex/node_parser.py
  backend/src/service/ingestion_service/llamaindex/property_graph_ingestor.py
  backend/src/service/ingestion_service/processing.py
Labels: backend

update llamaindex
  backend/INGESTION_PIPELINE_FLOW.md
  backend/docker-compose.databases.backup.yml
  backend/docker-compose.databases.yml
  backend/poetry.lock
  backend/pyproject.toml
  backend/src/service/ingestion_service/.env.example
  backend/src/service/ingestion_service/llamaindex/__init__.py
  backend/src/service/ingestion_service/llamaindex/database_cleaner.py
  backend/src/service/ingestion_service/llamaindex/diagnostics.py
  backend/src/service/ingestion_service/llamaindex/document_loader.py
  backend/src/service/ingestion_service/llamaindex/entity_deduplication.py
  backend/src/service/ingestion_service/llamaindex/hybrid_retriever.py
  backend/src/service/ingestion_service/llamaindex/indexer.py
  backend/src/service/ingestion_service/llamaindex/ingestion_workflow.py
  backend/src/service/ingestion_service/llamaindex/metadata_utils.py
  backend/src/service/ingestion_service/llamaindex/node_parser.py
  backend/src/service/ingestion_service/llamaindex/property_graph_ingestor.py
  backend/src/service/ingestion_service/loader/unstructured_loader.py
  backend/src/service/ingestion_service/processing.py
  backend/src/service/ingestion_service/settings.py
Labels: backend, docs

update llamaindex migration
  backend/INGESTION_PIPELINE_FLOW.md
  backend/poetry.lock
  backend/pyproject.toml
  backend/src/config/models.py
  backend/src/service/ingestion_service/.env.example
  backend/src/service/ingestion_service/llamaindex/__init__.py
  backend/src/service/ingestion_service/llamaindex/database_cleaner.py
  backend/src/service/ingestion_service/llamaindex/diagnostics.py
  backend/src/service/ingestion_service/llamaindex/entity_deduplication.py
  backend/src/service/ingestion_service/llamaindex/indexer.py
  backend/src/service/ingestion_service/llamaindex/ingestion_workflow.py
  backend/src/service/ingestion_service/llamaindex/metadata_utils.py
  backend/src/service/ingestion_service/llamaindex/node_parser.py
  backend/src/service/ingestion_service/llamaindex/property_graph_ingestor.py
  backend/src/service/ingestion_service/loader/spreadsheet_utils.py
  backend/src/service/ingestion_service/loader/unstructured_loader.py
  backend/src/service/ingestion_service/processing.py
  backend/src/service/ingestion_service/progress_tracker.py
  backend/src/service/ingestion_service/settings.py
  scripts/estimate_ingestion_cost.py
Labels: backend, docs

delete scripts
  scripts/README.md
  scripts/debug-format-lint.sh
  scripts/dev.sh
  scripts/estimate_ingestion_cost.py
  scripts/format-lint.sh
  scripts/local.sh
  scripts/test-env.sh
  scripts/volume_backup.sh
Labels: docs

fixing crawler to add on increments
  .gitignore
  backend/poetry.lock
  backend/pyproject.toml
  backend/src/config/models.py
  backend/src/core/agents/retrieval/vector_retrieval.py
  backend/src/service/crawler/core/config.py
  backend/src/service/crawler/core/types.py
  backend/src/service/crawler/downloaders/document_downloader.py
  backend/src/service/crawler/downloaders/metadata_manager.py
  backend/src/service/crawler/downloaders/rigid_validator.py
  backend/src/service/crawler/extractors/base.py
  backend/src/service/crawler/extractors/wordpress_extractor.py
  backend/src/service/crawler/extractors/youtube_extractor.py
  backend/src/service/crawler/run.py
Labels: backend

update many more cli setting and fix indexer
  backend/src/service/ingestion_service/graph_rag/__init__.py
  backend/src/service/ingestion_service/llamaindex/database_cleaner.py
  backend/src/service/ingestion_service/llamaindex/indexer.py
  backend/src/service/ingestion_service/llamaindex/ingestion_workflow.py
  backend/src/service/ingestion_service/llamaindex/metadata_utils.py
  backend/src/service/ingestion_service/llamaindex/node_parser.py
  backend/src/service/ingestion_service/loader/unstructured_loader.py
  backend/src/service/ingestion_service/processing.py
  backend/src/service/ingestion_service/settings.py
Labels: backend

update indexer logging
  .env.template
  backend/docker-compose.databases.yml
  backend/src/service/ingestion_service/loader/unstructured_loader.py
Labels: backend

try to reduce a lot of bloating code
  backend/src/app/__init__.py
  backend/src/app/app.py
  backend/src/core/agents/generation/final_report_generation.py
  backend/src/core/agents/retrieval/ __init__.py
  backend/src/core/agents/retrieval/__init__.py
  backend/src/core/agents/retrieval/graph_retrieval.py
  backend/src/core/agents/retrieval/keyword_retrieval.py
  backend/src/core/agents/retrieval/subgraph.py
  backend/src/core/agents/retrieval/vector_retrieval.py
  backend/src/core/agents/supervisor/supervisor.py
  backend/src/core/agents/tools/main.py
  backend/src/core/agents/tools/misc_utils.py
  backend/src/core/agents/tools/search.py
  backend/src/core/agents/tools/token_utils.py
  backend/src/service/ingestion_service/llamaindex/entity_deduplication.py
  backend/src/service/ingestion_service/llamaindex/indexer.py
  backend/src/service/ingestion_service/loader/unstructured_loader.py
  backend/src/service/ingestion_service/processing.py
  backend/src/service/ingestion_service/progress_tracker.py
  backend/src/service/ingestion_service/settings.py
Labels: backend

update docker file
  backend/docker-compose.yml
  backend/src/service/ingestion_service/llamaindex/__init__.py
  docker/Dockerfile
  docker/docker-compose.dev.yml
  docker/docker-compose.local.yml
  docker/docker-compose.yml
Labels: backend

adding on a lot of method for graph rag
  backend/src/service/ingestion_service/graph_rag/__init__.py
  backend/src/service/ingestion_service/graph_rag/base_linker.py
  backend/src/service/ingestion_service/graph_rag/citation_linker.py
  backend/src/service/ingestion_service/graph_rag/community_linker.py
  backend/src/service/ingestion_service/graph_rag/deduplication_linker.py
  backend/src/service/ingestion_service/graph_rag/entity_cooccurrence_linker.py
  backend/src/service/ingestion_service/graph_rag/gds_utils.py
  backend/src/service/ingestion_service/graph_rag/semantic_linker.py
  backend/src/service/ingestion_service/graph_rag/temporal_linker.py
  backend/src/service/ingestion_service/graph_rag/topic_linker.py
  backend/src/service/ingestion_service/llamaindex/property_graph_ingestor.py
Labels: backend

fixing indexer and add more cli to ingesting
  .gitignore
  backend/Dockerfile
  backend/poetry.lock
  backend/src/config/models.py
  backend/src/config/settings/core_models.py
  backend/src/core/agents/generation/final_report_generation.py
  backend/src/core/agents/memory/summarizer.py
  backend/src/core/agents/query_translation/contextual_strategy.py
  backend/src/core/agents/query_translation/decomposition.py
  backend/src/core/agents/query_translation/factual_strategy.py
  backend/src/core/agents/query_translation/hyde.py
  backend/src/core/agents/query_translation/multi_query.py
  backend/src/core/agents/query_translation/query_transformer.py
  backend/src/core/agents/query_translation/step_back.py
  backend/src/core/agents/query_understanding/clarification.py
  backend/src/core/agents/query_understanding/write_research_brief.py
  backend/src/core/agents/research/compress_research.py
  backend/src/core/agents/research/researcher.py
  backend/src/core/agents/retrieval/graph_retrieval.py
  backend/src/core/agents/retrieval/keyword_retrieval.py
  backend/src/core/agents/retrieval/subgraph.py
  backend/src/core/agents/retrieval/vector_retrieval.py
  backend/src/core/agents/supervisor/supervisor.py
  backend/src/core/agents/tools/search.py
  backend/src/service/ingestion_service/llamaindex/property_graph_ingestor.py
  backend/src/service/ingestion_service/settings.py
  backend/src/utils/__init__.py
  backend/src/utils/model_factory.py
Labels: backend

upgrade poetry to the latest version with newest langgraph
  backend/find_metadata_index.py
  backend/poetry.lock
  backend/pyproject.toml
Labels: backend

UI is matching and everything is good. Just need to hide internal
  backend/src/app/app.py
  backend/src/app/server.py
  backend/src/config/models.py
  backend/src/config/node_names.py
  backend/src/config/settings/quick_agent.py
  backend/src/core/agents/generation/final_report_generation.py
  backend/src/core/agents/memory/summarizer.py
  backend/src/core/agents/query_translation/contextual_strategy.py
  backend/src/core/agents/query_translation/decomposition.py
  backend/src/core/agents/query_translation/factual_strategy.py
  backend/src/core/agents/query_translation/hyde.py
  backend/src/core/agents/query_translation/multi_query.py
  backend/src/core/agents/query_translation/query_transformer.py
  backend/src/core/agents/query_translation/step_back.py
  backend/src/core/agents/query_understanding/clarification.py
  backend/src/core/agents/query_understanding/write_research_brief.py
  backend/src/core/agents/quick_agent/quick_agent.py
  backend/src/core/agents/retrieval/subgraph.py
  backend/src/core/agents/supervisor/supervisor.py
  backend/src/schemas/state.py
  backend/src/utils/model_factory.py
  client/Dockerfile
  client/next.config.mjs
  client/src/app/layout.tsx
  client/src/components/thread/history/index.tsx
  client/src/components/thread/index.tsx
  client/src/components/thread/messages/ai.tsx
  client/src/components/thread/messages/document-list.tsx
  client/src/components/thread/utils.ts
  client/src/components/ui/badge.tsx
  client/src/providers/Stream.tsx
  client/src/providers/Thread.tsx
  docker/docker-compose.yml
Labels: backend

chore: setup code quality tools (husky, pre-commit, linting)
  .pre-commit-config.yaml
  README.md
  backend/poetry.lock
  backend/pyproject.toml
  client/.husky/commit-msg
  client/.husky/pre-commit
  client/commitlint.config.js
  client/eslint.config.js
  client/package.json
  client/pnpm-lock.yaml
  client/prettier.config.js
  docs/BACKEND_GUIDE.md
  docs/CRAWLER_GUIDE.md
  docs/DEPLOYMENT_GUIDE.md
  docs/FRONTEND_GUIDE.md
  docs/INGESTION_GUIDE.md
  docs/SYSTEM_DESIGN.md
  docs/TECH_STACK_AND_SYSTEM_DESIGN.md
Labels: backend, docs

chore: optimize docker build and deployment config
  .dockerignore
  backend/.dockerignore
  backend/Dockerfile
  client/.dockerignore
  client/Dockerfile
  docker/docker-compose.yml
  nginx.conf
Labels: backend

chore: update environment templates
  .env.template
  client/.env.example
  client/.gitignore
Labels: none

feat(frontend): enhance UI components and state management
  client/knip.json
  client/next-env.d.ts
  client/src/components/thread/index.tsx
  client/src/components/thread/messages/document-list.tsx
  client/src/components/thread/messages/tool-calls.tsx
  client/src/components/thread/reasoning-block.tsx
  client/src/components/ui/collapsible.tsx
  client/src/components/ui/scroll-area.tsx
  client/src/providers/Stream.tsx
  client/src/providers/Thread.tsx
Labels: none

feat(backend): update ingestion logic and cleanup utils
  backend/find_metadata_index.py
  backend/langgraph.json
  backend/pyproject.toml
  backend/src/__init__.py
  backend/src/config/models.py
  backend/src/config/settings/retrieval.py
  backend/src/core/agents/query_understanding/clarification.py
  backend/src/service/ingestion_service/processing.py
  backend/src/service/ingestion_service/settings.py
  backend/src/utils/env.py
  backend/src/utils/model_factory.py
Labels: backend

fix(frontend): resolve accessibility lint errors
  client/src/components/thread/agent-inbox/components/state-view.tsx
  client/src/components/thread/markdown-text.tsx
Labels: none

fix(frontend): resolve react hooks lint errors
  client/src/components/thread/history/index.tsx
  client/src/providers/Stream.tsx
Labels: none

fix(frontend): remove unused variables and dead code
  client/src/components/thread/agent-inbox/components/tool-call-table.tsx
  client/src/components/thread/agent-inbox/utils.ts
  client/src/components/thread/index.tsx
Labels: none

adjust logistics
  .env.template
  README.md
  backend/langgraph.json
  client/.env.example
  client/package.json
  client/pnpm-lock.yaml
  client/tailwind.config.js
  docs/BACKEND_GUIDE.md
  docs/DEPLOYMENT_GUIDE.md
  docs/FRONTEND_GUIDE.md
Labels: backend, docs

fixing streaming
  backend/src/config/models.py
  backend/src/config/prompt/research.py
  backend/src/core/agents/generation/final_report_generation.py
  backend/src/core/agents/query_understanding/clarification.py
  backend/src/core/agents/quick_agent/quick_agent.py
  backend/src/core/agents/research/researcher.py
  backend/src/utils/events.py
  client/src/components/thread/history/index.tsx
  client/src/components/thread/index.tsx
  client/src/components/thread/markdown-text.tsx
  client/src/components/thread/messages/ai.tsx
  client/src/components/thread/reasoning-block.tsx
  client/src/constants.ts
  client/src/lib/events.ts
  client/src/providers/Stream.tsx
  client/src/providers/Thread.tsx
Labels: backend

fixing streaming, deep rsearch update and everything related to code standards
  backend/langgraph.json
  backend/src/app/server.py
  backend/src/config/models.py
  backend/src/config/settings/base.py
  backend/src/config/settings/configuration.py
  backend/src/config/settings/query_transformation.py
  backend/src/config/settings/quick_agent.py
  backend/src/config/settings/research.py
  backend/src/config/settings/retrieval.py
  backend/src/core/agents/generation/final_report_generation.py
  backend/src/core/agents/memory/summarizer.py
  backend/src/core/agents/query_translation/decomposition.py
  backend/src/core/agents/query_translation/hyde.py
  backend/src/core/agents/query_translation/multi_query.py
  backend/src/core/agents/query_translation/query_transformer.py
  backend/src/core/agents/query_translation/step_back.py
  backend/src/core/agents/query_understanding/clarification.py
  backend/src/core/agents/query_understanding/write_research_brief.py
  backend/src/core/agents/quick_agent/quick_agent.py
  backend/src/core/agents/research/compress_research.py
  backend/src/core/agents/research/researcher.py
  backend/src/core/agents/research/researcher_tools.py
  backend/src/core/agents/research/utils.py
  backend/src/core/agents/retrieval/vector_retrieval.py
  backend/src/core/agents/supervisor/supervisor.py
  backend/src/core/agents/supervisor/supervisor_tools.py
  backend/src/core/agents/tools/mcp_utils.py
  backend/src/core/agents/tools/token_utils.py
  backend/src/schemas/state.py
  backend/src/service/ingestion_service/settings.py
  backend/src/utils/events.py
  client/src/app/globals.css
  client/src/components/thread/index.tsx
  client/src/components/thread/messages/ai.tsx
  client/src/lib/events.ts
  client/src/providers/Stream.tsx
Labels: backend

fixing a lot of streaming performance and backend inconsistent
  backend/src/config/models.py
  backend/src/config/prompt/graph.py
  backend/src/config/prompt/research.py
  backend/src/config/prompt/supervisor.py
  backend/src/config/prompt/synthesis.py
  backend/src/config/prompts.py
  backend/src/config/settings/research.py
  backend/src/config/settings/supervisor.py
  backend/src/core/agents/query_understanding/write_research_brief.py
  backend/src/schemas/state.py
  client/package.json
  client/pnpm-lock.yaml
  client/src/app/globals.css
  client/src/components/thread/markdown-styles.css
  client/src/components/thread/markdown-text.tsx
  client/src/components/thread/messages/ai.tsx
  client/src/lib/events.ts
  client/src/providers/Stream.tsx
  client/tsconfig.tsbuildinfo
Labels: backend

refactor ingestion
  backend/src/service/ingestion_service/__init__.py
  backend/src/service/ingestion_service/graph/__init__.py
  backend/src/service/ingestion_service/graph/custom_retrievers.py
  backend/src/service/ingestion_service/graph/entity_deduplication.py
  backend/src/service/ingestion_service/graph/graphrag_extractor.py
  backend/src/service/ingestion_service/graph/linkers/__init__.py
  backend/src/service/ingestion_service/graph/linkers/base_linker.py
  backend/src/service/ingestion_service/graph/linkers/citation_linker.py
  backend/src/service/ingestion_service/graph/linkers/community_linker.py
  backend/src/service/ingestion_service/graph/linkers/community_summarizer.py
  backend/src/service/ingestion_service/graph/linkers/deduplication_linker.py
  backend/src/service/ingestion_service/graph/linkers/entity_cooccurrence_linker.py
  backend/src/service/ingestion_service/graph/linkers/gds_utils.py
  backend/src/service/ingestion_service/graph/linkers/semantic_linker.py
  backend/src/service/ingestion_service/graph/linkers/temporal_linker.py
  backend/src/service/ingestion_service/graph/linkers/topic_linker.py
  backend/src/service/ingestion_service/graph/neo4j_indexer.py
  backend/src/service/ingestion_service/graph/property_graph_ingestor.py
  backend/src/service/ingestion_service/graph_rag/__init__.py
  backend/src/service/ingestion_service/graph_rag/community_summarizer.py
  backend/src/service/ingestion_service/keyword/__init__.py
  backend/src/service/ingestion_service/keyword/elasticsearch_indexer.py
  backend/src/service/ingestion_service/llamaindex/custom_retrievers.py
  backend/src/service/ingestion_service/llamaindex/graphrag_extractor.py
  backend/src/service/ingestion_service/loader/unstructured_loader.py
  backend/src/service/ingestion_service/orchestration/__init__.py
  backend/src/service/ingestion_service/orchestration/index_coordinator.py
  backend/src/service/ingestion_service/orchestration/ingestion_workflow.py
  backend/src/service/ingestion_service/orchestration/progress_tracker.py
  backend/src/service/ingestion_service/settings.py
  backend/src/service/ingestion_service/shared/__init__.py
  backend/src/service/ingestion_service/shared/database_cleaner.py
  backend/src/service/ingestion_service/shared/metadata_utils.py
  backend/src/service/ingestion_service/shared/node_parser.py
  backend/src/service/ingestion_service/shared/node_utils.py
  backend/src/service/ingestion_service/vector/__init__.py
  backend/src/service/ingestion_service/vector/qdrant_indexer.py
Labels: backend

fixing streaming issue
  .gitignore
  DEPLOYMENT_GUIDE.md
  backend/src/core/agents/generation/final_report_generation.py
  backend/src/core/agents/query_translation/multi_query.py
  backend/src/core/agents/query_understanding/write_research_brief.py
  backend/src/core/agents/research/researcher.py
  backend/src/core/agents/research/researcher_tools.py
  backend/src/core/agents/research/utils.py
  backend/src/core/agents/retrieval/subgraph.py
  backend/src/core/agents/supervisor/supervisor.py
  client/Dockerfile
  client/next-env.d.ts
  client/next.config.mjs
  client/package.json
  client/pnpm-lock.yaml
  client/src/components/thread/index.tsx
  client/src/components/thread/messages/ai.tsx
  client/src/lib/events.ts
  client/src/providers/Stream.tsx
  client/tailwind.config.js
  client/tsconfig.json
  client/tsconfig.tsbuildinfo
  docker/docker-compose.prod.yml
  scripts/build_and_push.sh
Labels: backend, docs

chore: remove unused graph_rag/ folder (dead code)
  backend/src/service/ingestion_service/graph_rag/__init__.py
  backend/src/service/ingestion_service/graph_rag/base_linker.py
  backend/src/service/ingestion_service/graph_rag/citation_linker.py
  backend/src/service/ingestion_service/graph_rag/community_linker.py
  backend/src/service/ingestion_service/graph_rag/community_summarizer.py
  backend/src/service/ingestion_service/graph_rag/deduplication_linker.py
  backend/src/service/ingestion_service/graph_rag/entity_cooccurrence_linker.py
  backend/src/service/ingestion_service/graph_rag/gds_utils.py
  backend/src/service/ingestion_service/graph_rag/semantic_linker.py
  backend/src/service/ingestion_service/graph_rag/temporal_linker.py
  backend/src/service/ingestion_service/graph_rag/topic_linker.py
Labels: backend

refactor: move graph code to graph/, remove duplicates from llamaindex/
  backend/src/service/ingestion_service/llamaindex/entity_deduplication.py
  backend/src/service/ingestion_service/llamaindex/graphrag_extractor.py
  backend/src/service/ingestion_service/llamaindex/indexer.py
  backend/src/service/ingestion_service/llamaindex/property_graph_ingestor.py
Labels: backend

chore: move docker-compose.databases.yml to docker/ folder
  docker/docker-compose.databases.yml
Labels: none

feat: add LM Studio support with separate embedding API config
  backend/src/service/ingestion_service/settings.py
Labels: backend

refactor(ingestion_service): consolidate and simplify module structure
  backend/src/service/ingestion_service/__init__.py
  backend/src/service/ingestion_service/config/__init__.py
  backend/src/service/ingestion_service/config/schema.py
  backend/src/service/ingestion_service/config/settings_config.py
  backend/src/service/ingestion_service/graph/entity_deduplication.py
  backend/src/service/ingestion_service/graph/graphrag_extractor.py
  backend/src/service/ingestion_service/graph/linkers/citation_linker.py
  backend/src/service/ingestion_service/graph/linkers/community_summarizer.py
  backend/src/service/ingestion_service/graph/linkers/topic_linker.py
  backend/src/service/ingestion_service/graph/neo4j_indexer.py
  backend/src/service/ingestion_service/graph/property_graph_ingestor.py
  backend/src/service/ingestion_service/keyword/__init__.py
  backend/src/service/ingestion_service/keyword/elasticsearch_indexer.py
  backend/src/service/ingestion_service/llamaindex/database_cleaner.py
  backend/src/service/ingestion_service/llamaindex/indexer.py
  backend/src/service/ingestion_service/loader/unstructured_loader.py
  backend/src/service/ingestion_service/observability/__init__.py
  backend/src/service/ingestion_service/observability/callback_config.py
  backend/src/service/ingestion_service/observability/stats_tracker.py
  backend/src/service/ingestion_service/orchestration/__init__.py
  backend/src/service/ingestion_service/orchestration/index_coordinator.py
  backend/src/service/ingestion_service/orchestration/ingestion_workflow.py
  backend/src/service/ingestion_service/orchestration/progress_tracker.py
  backend/src/service/ingestion_service/pipeline/__init__.py
  backend/src/service/ingestion_service/pipeline/builder.py
  backend/src/service/ingestion_service/pipeline/cache.py
  backend/src/service/ingestion_service/processing.py
  backend/src/service/ingestion_service/progress_tracker.py
  backend/src/service/ingestion_service/shared/__init__.py
  backend/src/service/ingestion_service/shared/database_cleaner.py
  backend/src/service/ingestion_service/shared/metadata_utils.py
  backend/src/service/ingestion_service/shared/node_parser.py
  backend/src/service/ingestion_service/shared/node_utils.py
  backend/src/service/ingestion_service/vector/__init__.py
  backend/src/service/ingestion_service/vector/qdrant_indexer.py
Labels: backend

refactor: remove redundant code and consolidate utilities
  backend/src/service/ingestion_service/graph/entity_deduplication.py
  backend/src/service/ingestion_service/graph/neo4j_indexer.py
  backend/src/service/ingestion_service/graph/neo4j_utils.py
  backend/src/service/ingestion_service/graph/property_graph_ingestor.py
  backend/src/service/ingestion_service/llamaindex/ingestion_workflow.py
  backend/src/service/ingestion_service/observability/__init__.py
  backend/src/service/ingestion_service/observability/callback_config.py
Labels: backend
