Repository hungngodev/NEFAC-CHATBOT, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, docs, workflow

adding readme update
  README.md
Labels: docs

adding template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: docs

add some types and env example
  backend/.env.example
  backend/app.py
  backend/llm/chain.py
  backend/llm/main.py
  backend/llm/utils.py
  backend/load_env.py
  backend/schemas.py
Labels: backend

update poetry
  backend/poetry.lock
  backend/pyproject.toml
Labels: backend

feat: create AWS infrastructure directory structure
  aws/README.md
  aws/__init__.py
  aws/aws_config.py
  aws/lambda_functions/requirements.txt
  aws/lambda_functions/text_processor.py
  aws/lambda_utils.py
  aws/setup_localstack.sh
  aws/sqs_utils.py
  aws/test_localstack.py
Labels: docs

feat: add Terraform infrastructure as code
  terraform/README.md
  terraform/deploy.sh
  terraform/main.tf
  terraform/modules/iam/main.tf
  terraform/modules/iam/outputs.tf
  terraform/modules/iam/variables.tf
  terraform/modules/lambda/main.tf
  terraform/modules/lambda/outputs.tf
  terraform/modules/lambda/variables.tf
  terraform/modules/s3/main.tf
  terraform/modules/s3/outputs.tf
  terraform/modules/s3/variables.tf
  terraform/modules/sqs/main.tf
  terraform/modules/sqs/outputs.tf
  terraform/modules/sqs/variables.tf
  terraform/modules/vpc/main.tf
  terraform/modules/vpc/outputs.tf
  terraform/modules/vpc/variables.tf
  terraform/outputs.tf
  terraform/terraform.tfvars.example
  terraform/variables.tf
Labels: docs

docs: add comprehensive AWS infrastructure setup guide
  AWS_INFRASTRUCTURE_SETUP.md
Labels: docs

feat: integrate LocalStack in docker-compose
  docker-compose.yml
Labels: none

.github/labeler.yml:

backend:
  - "backend/**"
frontend:
  - "frontend/**"
docs:
  - "**/*.md"
workflow:
  - ".github/workflows/**"
