Repository hungngodev/NEFAC-CHATBOT, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, docs, workflow, aws, terraform

.github/labeler.yml:

backend:
  - any: ["backend/**"]
frontend:
  - any: ["frontend/**"]
docs:
  - any: ["**/*.md"]
workflow:
  - any: [".github/workflows/**"]
aws:
  - any: ["aws/**"]
terraform:
  - any: ["terraform/**"]

adding nginx
  DEVELOPMENT.md
  backend/Dockerfile
  backend/app.py
  backend/poetry.lock
  backend/pyproject.toml
  docker-compose.dev.yml
  docker-compose.local.yml
  env.template
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/src/constant/backend.tsx
  nginx.conf
  scripts/dev.sh
  scripts/local.sh
  scripts/test-env.sh
  scripts/test.sh
  test_env.py
Labels: backend, frontend, docs

organize_prompt
  backend/prompts/README.md
  backend/prompts/__init__.py
  backend/prompts/base.py
  backend/prompts/chain.py
  backend/prompts/decomposition.py
  backend/prompts/hyDe.py
  backend/prompts/multi_query.py
  backend/prompts/rag_fusion.py
  backend/prompts/step_back.py
  backend/prompts/youtube_loader.py
Labels: backend, docs

add script
  scripts/README.md
  scripts/debug-format-lint.sh
  scripts/format-lint-no-color.sh
  scripts/format-lint.sh
Labels: docs

centralize
  backend/document/youtube_loader.py
  backend/llm/chain.py
  backend/llm/constant.py
  backend/llm/query_translation/hyDe.py
  backend/llm/query_translation/multi_query.py
  backend/llm/query_translation/rag_fusion.py
  backend/title_to_chunks.pkl
Labels: backend

add
  backend/llm/chain.py
  backend/title_to_chunks.pkl
  scripts/format-lint.sh
Labels: backend

refactor
  backend/llm/chain.py
  backend/llm/constant.py
  backend/llm/query_translation/decomposition.py
  backend/llm/query_translation/hyDe.py
  backend/llm/query_translation/multi_query.py
  backend/llm/query_translation/rag_fusion.py
  backend/llm/query_translation/step_back.py
  backend/title_to_chunks.pkl
Labels: backend

add
  backend/document/youtube_loader.py
  docker-compose.dev.yml
Labels: backend

adjust markdown a bit
  backend/llm/chain.py
  backend/llm/utils.py
  backend/prompts/chain.py
  backend/schemas.py
  frontend/package.json
  frontend/src/component/MessageBubble.tsx
  frontend/src/component/SearchInput.tsx
  frontend/src/component/SourceLinks.tsx
  frontend/src/pages/SearchBar.tsx
  frontend/tailwind.config.js
  scripts/format-lint-no-color.sh
  scripts/format-lint.sh
  scripts/test.sh
Labels: backend, frontend

add pydantic schema
  backend/llm/chain.py
  backend/schemas.py
Labels: backend

adding yt crawler
  crawler/README.md
  crawler/nefac-document-crawler.py
  crawler/nefac_documents/youtube/Education-Reporting-101_QHf3McxSvtA.txt
  crawler/requirements.txt
  crawler/setup.py
Labels: docs

delete unused file
  backend/docs/all_urls.txt
  backend/docs/finished_tagging/FOI_Access_to_State_Courts.pdf
  backend/docs/finished_tagging/FOI_Massachusetts_Open_Meetings_ Video_Tutorials.pdf
  backend/docs/finished_tagging/FOI_Massachusetts_Public_Records_ Notable_Case_Law.pdf
  backend/docs/finished_tagging/FOI_Massachusetts_Public_Records_ Video_Tutorials.pdf
  backend/docs/finished_tagging/FOI_Massachusetts_Public_Records_Law_FAQs.pdf
  backend/docs/finished_tagging/FOI_Massachusetts_Videos.pdf
  backend/docs/finished_tagging/Federal_FOIA_ Video_Tutorials.pdf
  backend/docs/finished_tagging/Massachusetts_FOI_Guide.pdf
  backend/docs/finished_tagging/Massachusetts_Show_Cause_Hearings.pdf
  backend/docs/finished_tagging/Rhode_Island_FOI_Guide.pdf
  backend/docs/finished_tagging/foiguide_general.pdf
  backend/docs/finished_tagging/yturls.txt
  backend/docs/waiting_room/yt_urls.txt
  backend/document/ __init__.py
  backend/vector/load.py
  backend/vector/utils.py
  service/crawler/nefac-document-crawler.py
  service/crawler/requirements.txt
  service/crawler/setup.py
  service/ingestion_service/Dockerfile
  service/ingestion_service/requirements.txt
  service/requirements.txt
  test_crawler_output/youtube/Education-Reporting-101_QHf3McxSvtA.txt
  test_crawler_output/youtube/Rhode-Island-APRA-Reform-Increase-Public-Confidence-in-Government_LaIJeRo1qIY.txt
  test_crawler_output/youtube/Writing-Workshop-102_T1TWcqhUa-g.txt
Labels: backend

adjusting backlog and .env template
  .env.template
  docs/BACKLOG.MD
Labels: none

add
  service/ingestion_service/index/contextual_retrieval.py
  service/ingestion_service/loader/semantic_double_pass_splitter.py
  service/ingestion_service/processing.py
Labels: none

refine again youtube loader and pdf loader
  service/ingestion_service/index/contextual_retrieval.py
  service/ingestion_service/loader/contextualize.py
  service/ingestion_service/loader/pdf_loader.py
  service/ingestion_service/loader/semantic_double_pass_splitter.py
  service/ingestion_service/loader/youtube_loader.py
  service/ingestion_service/processing.py
  service/ingestion_service/settings.py
  service/schemas/metadata.py
Labels: none

finally done with these 3 loaders
  service/ingestion_service/loader/html_loader.py
  service/schemas/metadata.py
Labels: none

update processing.py
  service/ingestion_service/processing.py
Labels: none

add tdqm
  service/ingestion_service/loader/html_loader.py
  service/ingestion_service/loader/pdf_loader.py
  service/ingestion_service/loader/youtube_loader.py
Labels: none

adding entity relationship and triage search
  backend/llm/chain.py
  backend/llm/query_translation/contextual_strategy.py
  backend/llm/query_translation/decomposition.py
  backend/llm/query_translation/multi_query.py
  backend/llm/query_translation/rag_fusion.py
  backend/poetry.lock
  backend/prompts/README.md
  backend/prompts/__init__.py
  backend/prompts/chain.py
  backend/pyproject.toml
  backend/requirements.txt
  backend/schemas.py
  backend/vector/graph_search.py
  backend/vector/hybrid_search.py
  service/crawler/requirements.txt
Labels: backend, docs

ading triange search and agent set up
  backend/agents/__init__.py
  backend/agents/generator.py
  backend/agents/graph.py
  backend/agents/multi_step_reasoning.py
  backend/agents/query_transformer.py
  backend/agents/query_understanding.py
  backend/agents/retrieval.py
  backend/agents/retrieval_strategy.py
  backend/agents/state.py
  backend/agents/validation.py
  backend/app.py
  backend/llm/main.py
  backend/prompts/chain.py
  backend/vector/graph_search.py
  docs/BACKLOG.MD
  service/ingestion_service/index/graph_rag.py
  service/ingestion_service/processing.py
Labels: backend

add .git
  .gitignore
Labels: none

adding memory agent
  backend/agents/context_processor.py
  backend/agents/generator.py
  backend/agents/graph.py
  backend/agents/graph_retrieval.py
  backend/agents/keyword_retrieval.py
  backend/agents/multi_step_reasoning.py
  backend/agents/query_understanding.py
  backend/agents/retrieval.py
  backend/agents/retrieval_strategy.py
  backend/agents/state.py
  backend/agents/tools/metadata_filter.py
  backend/agents/vector_retrieval.py
  backend/app.py
  backend/faiss_store/index.faiss
  backend/faiss_store/index.pkl
  backend/prompts/chain.py
  backend/schemas/metadata.py
  docs/BACKLOG.MD
Labels: backend

add
  .gitignore
  backend/service/crawler/.gitignore
Labels: backend

adding langgraph studio, server cli
  .gitignore
  backend/agents/graph.py
  backend/app/server.py
  backend/langgraph.json
  backend/poetry.lock
  backend/pyproject.toml
Labels: backend

feat(memory): add session-scoped vector memory (Pinecone), summary agent, and contextual memory injection for agentic workflow
  backend/src/app/server.py
  backend/src/config/prompts.py
  backend/src/core/agents/context_processor.py
  backend/src/core/agents/generator.py
  backend/src/core/agents/multi_step_reasoning.py
  backend/src/core/agents/query_understanding.py
  backend/src/core/agents/state.py
  backend/src/core/agents/summarizer.py
  backend/src/core/database/memory_search.py
Labels: backend

add a bit
  backend/src/core/agents/context_processor.py
Labels: backend

feat: create centralized retrieval schemas
  backend/src/schemas/retrieval.py
Labels: backend

feat: create centralized supervisor schemas
  backend/src/schemas/supervisor.py
Labels: backend

refactor: migrate graph retrieval to centralized schemas
  backend/src/core/agents/tools/retrieval/graph_retrieval.py
Labels: backend

refactor: migrate retrieval tools to centralized schemas
  backend/src/core/agents/tools/retrieval/retrieval_tools.py
Labels: backend

refactor: migrate complexity analyzer to centralized schemas
  backend/src/core/agents/supervisor/complexity_analyzer.py
Labels: backend

refactor: migrate validation agent to centralized schemas
  backend/src/core/agents/supervisor/validation.py
Labels: backend

fix: resolve unused variable warning in health check
  backend/src/app/main.py
Labels: backend

feat: add remaining retrieval modules
  backend/src/core/agents/tools/retrieval/keyword_retrieval.py
  backend/src/core/agents/tools/retrieval/metadata_filter.py
  backend/src/core/agents/tools/retrieval/vector_retrieval.py
Labels: backend

feat: add core agent state and protocol schemas
  backend/src/schemas/agent_protocols.py
  backend/src/schemas/agent_types.py
  backend/src/schemas/state.py
Labels: backend

feat: add agent module initialization files
  backend/src/core/agents/__init__.py
  backend/src/core/agents/supervisor/__init__.py
  backend/src/core/agents/tools/__init__.py
Labels: backend

feat: add supervisor generator and strategy modules
  backend/src/core/agents/supervisor/generator.py
  backend/src/core/agents/supervisor/strategy.py
Labels: backend

chore: update project dependencies
  backend/poetry.lock
  backend/pyproject.toml
Labels: backend

refactor: update configuration modules
  backend/src/config/constant.py
  backend/src/config/prompts.py
Labels: backend

refactor: update main server application
  backend/src/app/server.py
Labels: backend

remove: delete obsolete app.py file
  backend/src/app/app.py
Labels: backend
