Repository hungngodev/NEFAC-CHATBOT, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, docs, workflow, aws, terraform

feat: add comprehensive application schemas
  backend/src/schemas/schemas.py
Labels: backend

refactor: update main schema definitions
  backend/src/schemas/main.py
Labels: backend

feat: add core agent tools
  backend/src/core/agents/tools/context_processor.py
  backend/src/core/agents/tools/document_formatter.py
  backend/src/core/agents/tools/summarizer.py
Labels: backend

feat: add memory management system
  backend/src/core/agents/tools/memory/__init__.py
  backend/src/core/agents/tools/memory/memory.py
Labels: backend

feat: add contextualizer agent module
  backend/src/core/agents/contextualizer/__init__.py
  backend/src/core/agents/contextualizer/history_manager.py
  backend/src/core/agents/contextualizer/query_understanding.py
Labels: backend

feat: add worker agent modules
  backend/src/core/agents/workers/__init__.py
  backend/src/core/agents/workers/react/__init__.py
  backend/src/core/agents/workers/react/query_transformer.py
  backend/src/core/agents/workers/react/query_translation/__init__.py
  backend/src/core/agents/workers/react/query_translation/contextual_strategy.py
  backend/src/core/agents/workers/react/query_translation/decomposition.py
  backend/src/core/agents/workers/react/query_translation/factual_strategy.py
  backend/src/core/agents/workers/react/query_translation/hyDe.py
  backend/src/core/agents/workers/react/query_translation/multi_query.py
  backend/src/core/agents/workers/react/query_translation/rag_fusion.py
  backend/src/core/agents/workers/react/query_translation/step_back.py
  backend/src/core/agents/workers/react/react_worker.py
  backend/src/core/agents/workers/retriever/__init__.py
  backend/src/core/agents/workers/retriever/retrieval.py
  backend/src/core/agents/workers/retriever/retriever_worker.py
Labels: backend

feat: add exception handling system
  backend/src/exceptions/agent_exceptions.py
Labels: backend

feat: add utility modules
  backend/src/utils/validation.py
Labels: backend

chore: update service requirements
  backend/src/service/requirements.txt
Labels: backend

refactor: update document crawler
  backend/src/service/crawler/nefac-document-crawler.py
  backend/src/service/crawler/setup.py
Labels: backend

refactor: update selenium scraper tools
  backend/src/service/crawler/tools/selenium-scraper/cleanup.py
  backend/src/service/crawler/tools/selenium-scraper/nefac_scraper.py
Labels: backend

refactor: update contextual retrieval indexing
  backend/src/service/ingestion_service/index/contextual_retrieval.py
Labels: backend

refactor: update document loaders
  backend/src/service/ingestion_service/loader/html_loader.py
  backend/src/service/ingestion_service/loader/pdf_loader.py
  backend/src/service/ingestion_service/loader/youtube_loader.py
Labels: backend

feat: add retrieval module initialization
  backend/src/core/agents/tools/retrieval/ __init__.py
Labels: backend

docs: add agents module documentation
  backend/src/core/agents/README.md
Labels: backend, docs

remove: clean up obsolete agent files
  backend/src/core/agents/context_processor.py
  backend/src/core/agents/generator.py
  backend/src/core/agents/graph.py
  backend/src/core/agents/graph_retrieval.py
  backend/src/core/agents/keyword_retrieval.py
  backend/src/core/agents/main.py
  backend/src/core/agents/multi_step_reasoning.py
  backend/src/core/agents/query_transformer.py
  backend/src/core/agents/query_understanding.py
  backend/src/core/agents/retrieval.py
  backend/src/core/agents/retrieval_strategy.py
  backend/src/core/agents/state.py
  backend/src/core/agents/validation.py
  backend/src/core/agents/vector_retrieval.py
Labels: backend

remove: clean up obsolete database and query modules
  backend/src/core/database/ __init__.py
  backend/src/core/database/__init__.py
  backend/src/core/database/graph_search.py
  backend/src/core/database/hybrid_search.py
  backend/src/core/query_translation/__init__.py
  backend/src/core/query_translation/contextual_strategy.py
  backend/src/core/query_translation/decomposition.py
  backend/src/core/query_translation/factual_strategy.py
  backend/src/core/query_translation/hyDe.py
  backend/src/core/query_translation/multi_query.py
  backend/src/core/query_translation/rag_fusion.py
  backend/src/core/query_translation/step_back.py
Labels: backend

remove: clean up remaining obsolete files
  backend/src/core/tools/metadata_filter.py
  backend/src/core/utils.py
  backend/src/validation.py
Labels: backend

add docs
  docs/APP_FOLDER_CLEANUP_SUMMARY.md
  docs/BACKLOG.MD
  docs/CURRENT_AGENT_FLOW.md
  docs/DOCUMENTATION_INDEX.md
  docs/IMPLEMENTATION_REVIEW.md
  docs/MIGRATION_GUIDE.md
  docs/README.md
  docs/STATE_UNIFICATION_SUMMARY.md
  docs/architecture/10_Memory_System/README.md
  docs/architecture/11_Hierarchical_Structure/README.md
  docs/architecture/1_Supervisor_Agent/README.md
  docs/architecture/2_Contextualizer/README.md
  docs/architecture/3_Retriever_Worker/README.md
  docs/architecture/4_ReAct_Worker/README.md
  docs/architecture/5_Search_Tools/README.md
  docs/architecture/6_Graph_Orchestration/README.md
  docs/architecture/7_State_and_Memory/README.md
  docs/architecture/9_Query_Complexity/README.md
  docs/architecture/CURRENT_IMPLEMENTATION.md
  docs/architecture/IMPLEMENTATION_STATUS.md
  docs/architecture/README.md
  docs/backend/README.md
  docs/backend/agents/README.md
  docs/backend/app/README.md
  docs/backend/exceptions/README.md
  docs/backend/schemas/README.md
  docs/backend/utils/README.md
Labels: docs

docs: comprehensive backend architecture revision and agent flow update
  docs/ARCHITECTURE_SUMMARY.md
  docs/BACKEND_ARCHITECTURE_REVISION.md
  docs/CURRENT_AGENT_FLOW.md
Labels: docs

add
  docs/ADVANCED_RETRIEVAL_ARCHITECTURE.md
  docs/ARCHITECTURE_SUMMARY.md
  docs/BACKEND_ARCHITECTURE_REVISION.md
  docs/CURRENT_AGENT_FLOW.md
  docs/HIERARCHICAL_AGENT_FLOW.md
  docs/QUERY_TRANSLATION_STRATEGIES.md
Labels: docs

add docs
  backend/docs/ADVANCED_RETRIEVAL_ARCHITECTURE.md
  backend/docs/ARCHITECTURE_SUMMARY.md
  backend/docs/BACKEND_ARCHITECTURE_REVISION.md
  backend/docs/CODEBASE_VERIFICATION.md
  backend/docs/CURRENT_AGENT_FLOW.md
  backend/docs/ENSEMBLE_RETRIEVAL_IMPLEMENTATION.md
  backend/docs/QUERY_TRANSLATION_STRATEGIES.md
  backend/docs/README.md
  backend/docs/architecture/10_Memory_System/README.md
  backend/docs/architecture/11_Hierarchical_Structure/README.md
  backend/docs/architecture/1_Supervisor_Agent/README.md
  backend/docs/architecture/2_Contextualizer/README.md
  backend/docs/architecture/3_Retriever_Worker/README.md
  backend/docs/architecture/4_ReAct_Worker/README.md
  backend/docs/architecture/5_Search_Tools/README.md
  backend/docs/architecture/6_Graph_Orchestration/README.md
  backend/docs/architecture/7_State_and_Memory/README.md
  backend/docs/architecture/9_Query_Complexity/README.md
  backend/docs/architecture/CURRENT_IMPLEMENTATION.md
  backend/docs/architecture/IMPLEMENTATION_STATUS.md
  backend/docs/architecture/README.md
  backend/docs/migration/APP_FOLDER_CLEANUP_SUMMARY.md
  backend/docs/migration/IMPLEMENTATION_REVIEW.md
  backend/docs/migration/MIGRATION_GUIDE.md
  backend/docs/migration/STATE_UNIFICATION_SUMMARY.md
  docs/ADVANCED_RETRIEVAL_ARCHITECTURE.md
  docs/DOCS_REORGANIZATION_PLAN.md
  docs/DOCUMENTATION_STRUCTURE.md
  docs/HIERARCHICAL_AGENT_FLOW.md
  docs/backend_README.md
  docs/infrastructure/AWS_INFRASTRUCTURE_SETUP.md
  docs/infrastructure/aws_README.md
  docs/infrastructure/terraform_README.md
Labels: backend, docs

add
  backend/docs/CURRENT_AGENT_FLOW_ENHANCED.md
  backend/src/core/agents/__init__.py
  backend/src/core/agents/supervisor/__init__.py
  backend/src/core/agents/tools/__init__.py
  backend/src/core/agents/workers/__init__.py
  backend/src/core/agents/workers/react/__init__.py
  backend/src/core/agents/workers/retriever/__init__.py
  backend/src/schemas/agent_protocols.py
  backend/src/schemas/enhanced_context_types.py
  backend/src/utils/validation.py
Labels: backend, docs

add
  backend/src/app/server.py
  backend/src/core/agents/__init__.py
  backend/src/core/agents/contextualizer/__init__.py
  backend/src/core/agents/contextualizer/history_manager.py
  backend/src/core/agents/contextualizer/query_understanding.py
  backend/src/core/agents/tools/context_processor.py
  backend/src/core/agents/tools/retrieval/memory_search.py
  backend/src/core/agents/tools/retrieval/retrieval_tools.py
  backend/src/schemas/j/agent_types.py
  backend/src/schemas/j/main.py
  backend/src/schemas/j/metadata.py
  backend/src/schemas/j/retrieval.py
  backend/src/schemas/j/schemas.py
  backend/src/schemas/j/state.py
  backend/src/schemas/j/supervisor.py
Labels: backend

feat: Update RETRIEVAL_MODEL_NAME in constant.py
  backend/src/config/constant.py
Labels: backend

refactor: Move retrieval modules to dedicated folder and update imports
  backend/src/core/agents/README.md
  backend/src/core/agents/retrieval/ __init__.py
  backend/src/core/agents/retrieval/graph_retrieval.py
  backend/src/core/agents/retrieval/keyword_retrieval.py
  backend/src/core/agents/retrieval/post_processing.py
  backend/src/core/agents/retrieval/subgraph.py
  backend/src/core/agents/retrieval/vector_retrieval.py
  backend/src/core/agents/tools/memory/memory.py
  backend/src/core/agents/tools/retrieval/graph_retrieval.py
  backend/src/core/agents/tools/retrieval/keyword_retrieval.py
  backend/src/core/agents/tools/retrieval/metadata_filter.py
  backend/src/core/agents/tools/retrieval/retrieval_tools.py
  backend/src/core/agents/tools/retrieval/vector_retrieval.py
  backend/src/core/agents/tools/summarizer.py
  backend/src/core/agents/workers/__init__.py
  backend/src/core/agents/workers/react/__init__.py
  backend/src/core/agents/workers/react/query_transformer.py
  backend/src/core/agents/workers/react/query_translation/__init__.py
  backend/src/core/agents/workers/react/query_translation/contextual_strategy.py
  backend/src/core/agents/workers/react/query_translation/decomposition.py
  backend/src/core/agents/workers/react/query_translation/factual_strategy.py
  backend/src/core/agents/workers/react/query_translation/hyDe.py
  backend/src/core/agents/workers/react/query_translation/multi_query.py
  backend/src/core/agents/workers/react/query_translation/rag_fusion.py
  backend/src/core/agents/workers/react/query_translation/step_back.py
  backend/src/core/agents/workers/react/react_worker.py
  backend/src/core/agents/workers/retriever/__init__.py
  backend/src/core/agents/workers/retriever/retrieval.py
  backend/src/core/agents/workers/retriever/retriever_worker.py
Labels: backend, docs

refactor: Remove unused retrieval schemas from core_types.py
  backend/src/schemas/core_types.py
Labels: backend

Revert "feat: Update RETRIEVAL_MODEL_NAME in constant.py"
  backend/src/config/constant.py
Labels: backend

commit message
  backend/src/core/agents/query_translation/contextual_strategy.py
  backend/src/core/agents/query_translation/decomposition.py
  backend/src/core/agents/query_translation/factual_strategy.py
  backend/src/core/agents/query_translation/hyde.py
  backend/src/core/agents/query_translation/multi_query.py
  backend/src/core/agents/query_translation/query_transformer.py
  backend/src/core/agents/query_translation/step_back.py
  backend/src/core/agents/reasoning/react.py
Labels: backend

delete unused
  backend/src/config/constant.py
  backend/src/schemas/agent_protocols.py
  backend/src/schemas/langgraph_types.py
  backend/src/utils/validation.py
Labels: backend

add prompt
  backend/src/config/prompts.py
Labels: backend

add contextual
  backend/src/core/agents/query_translation/contextual_strategy.py
Labels: backend

add decompo
  backend/src/core/agents/query_translation/decomposition.py
Labels: backend

add fact
  backend/src/core/agents/query_translation/factual_strategy.py
Labels: backend

add hyde
  backend/src/core/agents/query_translation/hyde.py
Labels: backend

add multi
  backend/src/core/agents/query_translation/multi_query.py
Labels: backend

add_step_back
  backend/src/core/agents/query_translation/step_back.py
Labels: backend

fix retriever
  backend/src/core/agents/retrieval/graph_retrieval.py
  backend/src/core/agents/retrieval/keyword_retrieval.py
  backend/src/core/agents/retrieval/subgraph.py
  backend/src/core/agents/retrieval/vector_retrieval.py
  backend/src/schemas/core_types.py
Labels: backend

add transformer and react to use retriever
  backend/src/core/agents/query_translation/query_transformer.py
  backend/src/core/agents/reasoning/react.py
Labels: backend

deleet logger
  backend/src/core/agents/query_translation/contextual_strategy.py
  backend/src/core/agents/query_translation/decomposition.py
  backend/src/core/agents/query_translation/factual_strategy.py
  backend/src/core/agents/query_translation/hyde.py
  backend/src/core/agents/query_translation/multi_query.py
  backend/src/core/agents/query_translation/query_transformer.py
  backend/src/core/agents/query_translation/step_back.py
  backend/src/core/agents/retrieval/graph_retrieval.py
  backend/src/core/agents/retrieval/keyword_retrieval.py
  backend/src/core/agents/retrieval/post_processing.py
  backend/src/core/agents/retrieval/subgraph.py
  backend/src/core/agents/retrieval/vector_retrieval.py
  backend/src/core/agents/supervisor/strategy.py
  backend/src/core/agents/tools/document_formatter.py
Labels: backend

.github/labeler.yml:

backend:
  - any: ["backend/**"]
frontend:
  - any: ["frontend/**"]
docs:
  - any: ["**/*.md"]
workflow:
  - any: [".github/workflows/**"]
aws:
  - any: ["aws/**"]
terraform:
  - any: ["terraform/**"]
